* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.blue   { background-color: #67B3DD; }
.green  { background-color: #9EE062; }
.yellow { background-color: #FEDF6B; }
.purple { background-color: #6B2683; }
.pink   { background-color: #F03DB5; }
.red    { background-color: #FC302D; }
